In [1]:
import sys
from keras.layers import Dense,LSTM,Embedding
from keras.models import Sequential,Model
sys.path.append('../')
from src.utils import *

In [3]:
df = load_data()
df = remove_direct_entries(df)
df = remove_outliers_z_score(df, 3.5)

df = transform_utm_columns_into_list_of_strings(df)

In [3]:
df = create_utm_vectors(df, n=10)
x = df.utm_vector_source.to_list()
y = df.revenue.to_list()

In [4]:
def create_model_Dense():
    model = Sequential()
    model.add(Dense(70, activation='relu', input_shape=(70,)))
    model.add(Dense(10))
    model.add(Dense(1))
    model.compile(optimizer="rmsprop", loss="mse", metrics=['acc', 'mse'])
    return model

model = create_model_Dense()
model.fit(x, y, batch_size=32, epochs=5)
predicted = model.predict(x)
rmse = measure_results(df.revenue, predicted)
rmse

Epoch 1/5
8957/8957 [==============================] - 12s 1ms/step - loss: 729386.5625 - acc: 1.6747e-04 - mse: 729386.5625
Epoch 2/5
8957/8957 [==============================] - 11s 1ms/step - loss: 718088.1250 - acc: 1.6747e-04 - mse: 718088.1250
Epoch 3/5
8957/8957 [==============================] - 11s 1ms/step - loss: 718773.1875 - acc: 1.6747e-04 - mse: 718773.1875
Epoch 4/5
8957/8957 [==============================] - 11s 1ms/step - loss: 718949.9375 - acc: 1.6747e-04 - mse: 718949.9375
Epoch 5/5
8957/8957 [==============================] - 11s 1ms/step - loss: 719287.6875 - acc: 1.6747e-04 - mse: 719287.6875

847.5822439288125

In [5]:
df.revenue.std()

853.8731574992909

In [4]:
df.head()

,client_uuid,revenue,utm_source,utm_medium,event_dates,event_timestamps,days_till_conversions,conversion_date,conversion_timestamp
0,46843260447612932,1597.00,['(direct)'],['(none)'],['2019-08-02'],['2019-08-02 01:36:17'],[0],2019-08-02,2019-08-02 01:36:17
1,73937596961622962,34.99,['(direct)'],['(none)'],['2019-07-19'],['2019-07-19 15:27:24'],[14],2019-08-02,2019-08-02 21:08:16
2,94396730975196822,35.99,['(direct)'],['(none)'],['2019-08-02'],['2019-08-02 09:38:21'],[0],2019-08-02,2019-08-02 09:38:21
3,125013537097955872,34.99,['(direct)'],['(none)'],['2019-08-02'],['2019-08-02 15:15:40'],[0],2019-08-02,2019-08-02 15:15:40
4,162607037084320552,249.99,"['synerise','facebook','(direct)','(direct)','...","['organic','cpc','(none)','sms_text','organic']","['2019-07-17','2019-07-27','2019-07-27','2019-...","['2019-07-17 08:08:00','2019-07-27 08:32:10','...","[16,6,6,6,6]",2019-08-02,2019-08-02 07:38:58

In [5]:
df.revenue.min()

0.32

In [6]:
df.revenue.mean()

689.4618860357765

In [7]:
df.revenue.median()

219.0

In [8]:
df = remove_direct_entries(df)
df.revenue.median()

215.0

In [10]:
df = remove_outliers_z_score(df, 3.5)
df.revenue.median()

199.99

In [11]:
df[df.revenue>200]

,client_uuid,revenue,utm_source,utm_medium,event_dates,event_timestamps,days_till_conversions,conversion_date,conversion_timestamp
4,162607037084320552,249.99,"['synerise','facebook','(direct)','(direct)','...","['organic','cpc','(none)','sms_text','organic']","['2019-07-17','2019-07-27','2019-07-27','2019-...","['2019-07-17 08:08:00','2019-07-27 08:32:10','...","[16,6,6,6,6]",2019-08-02,2019-08-02 07:38:58
12,423257530869390002,274.94,"['(direct)','facebook','google']","['sms_text','cpc','cpc']","['2019-05-31','2019-06-22','2019-06-22']","['2019-05-31 05:38:48','2019-06-22 05:22:16','...","[63,41,41]",2019-08-02,2019-08-02 07:41:15
17,618125321206055252,269.99,"['synerise','google','synerise','google','face...","['organic','web_push','organic','cpc','cpc']","['2019-07-17','2019-07-17','2019-07-19','2019-...","['2019-07-17 03:56:43','2019-07-17 03:57:26','...","[16,16,14,14,14]",2019-08-02,2019-08-02 12:44:58
46,1567003161042811912,1018.00,['google'],['cpc'],['2019-07-27'],['2019-07-27 09:21:20'],[6],2019-08-02,2019-08-02 21:52:08
49,1650397184191037932,479.99,"['(direct)','(direct)']","['(none)','(none)']","['2019-05-28','2019-05-31']","['2019-05-28 05:10:34','2019-05-31 18:08:58']","[66,63]",2019-08-02,2019-08-02 09:37:41
...,...,...,...,...,...,...,...,...,...
459906,899051091472203572,579.00,"['(direct)','(direct)','(direct)','synerise','...","['(none)','(none)','sms_text','organic','cpc',...","['2018-12-05','2018-12-06','2018-12-22','2018-...","['2018-12-05 18:59:58','2018-12-06 11:14:43','...","[24,23,7,6,3,1,1,0,0]",2018-12-29,2018-12-29 00:58:47
459907,3937430543924156612,717.36,"['(direct)','google','synerise','(direct)']","['sms_text','web_push','e-mail','sms_text']","['2018-12-29','2018-12-29','2018-12-29','2018-...","['2018-12-29 00:59:40','2018-12-29 01:30:33','...","[0,0,0,0]",2018-12-29,2018-12-29 01:34:33
459911,9387008742826233182,345.00,"['(direct)','(direct)','(direct)','google.com'...","['(none)','(none)','(none)','referral','web_pu...","['2018-11-18','2018-12-20','2018-12-27','2018-...","['2018-11-18 01:57:22','2018-12-20 17:12:57','...","[41,9,2,2,2,2,2,2,2,2,2,2,2,2,0]",2018-12-29,2018-12-29 02:48:13
459914,11951134685027657952,338.00,['google'],['cpc'],['2018-12-29'],['2018-12-29 00:14:38'],[0],2018-12-29,2018-12-29 00:19:01
459916,18190306648176601842,319.00,"['google','google']","['e-mail','web_push']","['2018-12-28','2018-12-29']","['2018-12-28 17:09:07','2018-12-29 00:14:00']","[1,0]",2018-12-29,2018-12-29 00:21:12

In [12]:
df[df.revenue<200]

,client_uuid,revenue,utm_source,utm_medium,event_dates,event_timestamps,days_till_conversions,conversion_date,conversion_timestamp
6,245479691431714732,173.94,"['(direct)','google.com','(direct)','(direct)']","['(none)','referral','sms_text','(none)']","['2019-07-22','2019-07-22','2019-07-22','2019-...","['2019-07-22 07:54:41','2019-07-22 07:57:21','...","[11,11,11,11]",2019-08-02,2019-08-02 17:45:23
21,853710216256722922,169.80,['synerise'],['organic'],['2019-07-23'],['2019-07-23 09:09:49'],[10],2019-08-02,2019-08-02 17:44:39
25,955024757105198122,139.99,"['(direct)','google']","['sms_text','web_push']","['2019-06-26','2019-07-18']","['2019-06-26 11:45:13','2019-07-18 16:07:41']","[37,15]",2019-08-02,2019-08-02 19:16:13
39,1245695167913560012,99.90,"['google','(direct)','google']","['web_push','sms_text','web_push']","['2019-07-16','2019-07-16','2019-07-16']","['2019-07-16 21:36:37','2019-07-16 21:40:22','...","[17,17,17]",2019-08-02,2019-08-02 09:53:18
50,1685988112273487942,149.99,"['google','synerise','google','google']","['cpc','e-mail','web_push','cpc']","['2019-06-22','2019-07-18','2019-07-20','2019-...","['2019-06-22 08:24:43','2019-07-18 19:21:22','...","[41,15,13,13]",2019-08-02,2019-08-02 23:34:31
...,...,...,...,...,...,...,...,...,...
459908,7649665105817372252,59.90,"['synerise','google','(direct)','(direct)','sy...","['organic','cpc','sms_text','(none)','organic'...","['2018-10-24','2018-10-29','2018-10-29','2018-...","['2018-10-24 09:31:24','2018-10-29 19:59:44','...","[66,61,61,36,36,36,36,36,15,6,0,0,0]",2018-12-29,2018-12-29 00:31:55
459909,8782783622688819052,49.98,"['(direct)','synerise']","['(none)','e-mail']","['2018-12-29','2018-12-29']","['2018-12-29 02:22:26','2018-12-29 02:43:48']","[0,0]",2018-12-29,2018-12-29 02:48:01
459910,8922992413206002332,157.98,"['google','facebook']","['e-mail','cpc']","['2018-12-20','2018-12-28']","['2018-12-20 05:57:59','2018-12-28 23:55:51']","[9,1]",2018-12-29,2018-12-29 00:05:21
459913,11645035604004122502,107.89,"['google','synerise','google','(direct)']","['web_push','organic','cpc','sms_text']","['2018-12-03','2018-12-29','2018-12-29','2018-...","['2018-12-03 14:58:36','2018-12-29 00:26:18','...","[26,0,0,0]",2018-12-29,2018-12-29 00:57:40
459915,17520529140506420512,102.99,"['(direct)','(direct)','(direct)','(direct)','...","['(none)','(none)','(none)','(none)','(none)',...","['2018-12-23','2018-12-23','2018-12-23','2018-...","['2018-12-23 02:15:19','2018-12-23 18:45:08','...","[6,6,6,6,5,4,3,1,1,1,0]",2018-12-29,2018-12-29 00:12:38